body{
    margin:0;
}

div{
    box-sizing: border-box;
    position: absolute;
    image-rendering: pixelated;
}

.root{
    border: 33px dashed orange;
    background:yellow;
}

.player{
    border: 1px dashed red;
    background-image: url(sheet-trex.png);
    background-size: 400%;
}
